{% extends 'base.html' %}
{% block title %}{{ tag.name }} tag{% endblock title %}
{% block body %}
    <br><br>
    <h1 align="center">Blog Posts including "{{ tag.name }}" tag</h1>
    <div>
        {% for post in tag.posts %}
            <div class="card text-center" style="margin: 5vh 10% 5vh 10%;">
                <div class="card-header">
                    {% for tag in post.tags.all() %}
                        <a href="/tag/{{ tag.name }}"><span  class="badge bg-primary">{{ tag.name }}</span></a>
                    {% endfor %}
                </div>
                <div class="card-body">
                <h3 class="card-title blog-title"><a href="/blog/{{ post.slug }}">{{ post.title }}</a></h3>
                <p class="card-text">{{ post.sample_content }}</p>
                <a href="/blog/{{ post.slug }}" class="btn btn-dark" style="margin-left: 30%;">Read More...</a> <!-- &#10095; -->
                </div>
                <div class="card-footer text-muted">
                    <span class="blog_info">Created on: {{ post.created.strftime("%d %b, %Y") }}</span><br>
                    <span class="blog_info">Author: @<a href="/user/@{{ User.query.filter_by(username = post.author_id).first().username }}" style="color: yellow;">{{ User.query.filter_by(username = post.author_id).first().username }}</a></span>
                    <span class="blog_info">Views: 
                        {% if post.views > 1000 %}
                            {{ (post.views / 1000) | round }} k
                        {% else %}
                            {{ post.views }}
                        {% endif %}
                    </span>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock body %}